
.header{
    text-align: center;
    background-color: white;
    }
#Contenedor{
    background-color:#d6d6d6;
}
.contenido{
    background-color: #d6d6d6;
}
.n_foto{
    
    margin-top: 20px;
color: #9d9d9d;}
.foto_box{
   
    width: 599px;
    height: 690px;
    margin-left: 317px;
    margin-top: 44px;
    background-color: white;
}

.foto_box .title_photo{
display: flex;
flex-direction: row;
justify-content: space-between;
background-color: white;
}

.foto img{
    
    width: 598px;
    height: 464px;

}

span{
    font-weight: bolder;
}

div.pie, div.title_photo {
    
margin-left: 9px;
margin-top: 12px;
margin-right: 8px;

}